/*
    == commentarius | 2 words: blog, simple ==

    SOURCE CODE VERSION 1.0

    Author: Ricardo González @ RESIB Labs ( www.ricardogonz.es - resiblabs.taniwa.es )
    License: GPL 3.0
*/

.site-header {
    margin-top: 15px;
    margin-bottom: 30px;
}

.site-nav {
    margin-top: 5px;
    margin-bottom: 15px;
}

.post-list {
    margin-bottom: 20px;
}

.post-list-post {}

.post{
    margin-bottom: 20px;
}

.post-post-title {}

.post-post-content {}

.site-footer {}