.site-header {
    margin-top: 15px;
    margin-bottom: 30px;
}

.site-nav {
    margin-top: 5px;
    margin-bottom: 15px;
}

.post-list {
    margin-bottom: 20px;
}

.post-list-post {}

.post{
    margin-bottom: 20px;
}

.post-post-title {}

.post-post-content {}

.site-footer {}